*{
    margin: 20px 60px 20px 60px
    
}


.firstsec{
    display: flex;
    justify-content:space-between;
    /* align-items: center; */
    /* padding: 24px 160px 24px 160px; */
}

.lilhead{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;


}

.signin{
    /* Frame 2 */
    position: static;
    width: 116px;
    height: 52px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 15px 30px 15px 30px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;

}


.secondsec{
    /* Frame 4 */
position: static;
width: 100%;
/* height: 10%; */
/* Auto layout */
display: flex;
flex-direction: row;
align-items:flex-start;
gap: 64;
padding: 30px 0px 80px 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 80px 0px;
border-radius: 24px;

background: rgb(198, 228, 214);

}

.secondpara{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
    

.secondhead{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}


.secondbutton{
    /* Frame 2 */
position: static;
width: 270px;
height: 56px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 17px 34px 17px 34px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;
border-radius: 8px;

background: rgb(0, 106, 80);

color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 15px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;

}


.image{
    margin-left: 80px;
}


.headlines{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.thirdsec{
    display: flex;
}


.thirdboxes{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: whitesmoke;
}


.para{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.fourthsec{
    display: flex;
    
    
}

.fourthboxes{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 10px 10px;
    
    
}

.fourthbutt1{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    /* Frame 2 */
    position: static;
    width: 122px;
    height: 41px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 11px 20px 11px 20px;


    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 24px 0px 10px 10px;
    border: none
}

.fourthbutt2{
    border-radius: 8px;

    background: rgb(9, 161, 92);
    /* Frame 2 */
    position: static;
    width: 122px;
    height: 41px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 11px 20px 11px 20px;


    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 24px 0px 10px 10px;
    border: none
}

.fourthbutt3{
    border-radius: 8px;

    background: rgb(255, 194, 57);
    position: static;
    width: 122px;
    height: 41px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 11px 20px 11px 20px;


    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 24px 0px 10px 10px;
    border: none
}

.fourthheadlines{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

#fourthsecond{
    box-sizing: border-box;
    border-radius: 16px;

    background: rgb(198, 228, 214);
}

#fourththird{
    box-sizing: border-box;
    border-radius: 16px;

    background: rgb(247, 235, 207);
}


.fifthsec1{
    display: flex;
    height: auto;
    /* border-radius: 24px;
    background: whitesmoke; */
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;

    background: whitesmoke;
    align-items: center;
}

.fifthimage{
    /* image 3 */
    
    /* image 3 */
    position: static;
    width: 408px;
    height: 306px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 32px;
    border-radius: 24px;
}

.inheadlines{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.datetime{
    display: flex;
}

.fifthsec2{
    display: flex;
    height: auto;
    flex-direction: row-reverse;
    /* border-radius: 24px;
    background: whitesmoke; */
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: whitesmoke;
    align-items: center;

}


.sixthbox{
    /* Frame 2087325513 */
position: static;
width: auto;
height: auto;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 40px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: whitesmoke;
/* text-align: center; */
}

.sixthsec{
    display: flex;
    justify-content:center;
}


.sixthbox2{
    /* Frame 2087325513 */
position: static;
width: auto;
height: auto;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 40px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: whitesmoke;
/* text-align: center; */

box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(198, 228, 214);
}


.inputs{
    display: flex;
    justify-content: center;
}


input{
    /* Frame 2087325514 */
    position: static;
    width: 1032px;
    height: 4px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24;
    padding: 20px 40px 20px 40px;
    text-align: center;  
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: whitesmoke;
}

.centerbutt{
    display: flex;
    justify-content: center;
}